<html>
    <head>
        <title>Add Calendar</title>
    </head>
    <script>
        function onload(){
            var goto = "{{ ltype }}";
            if(goto == "microsoft"){
                window.location.href = "{{ auth_url }}";
            }
        }
        onload()
    </script>
    <body>
        <a href="/api/v1/add-google-calendar">Add Google Calendar</a>
        <a href="{{ auth_url }}">Add Microsoft Calendar</a>
    </body>
</html>
