﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project Mates</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: Rubik;
            text-align: center;
        }

        input {
            width: 200px;
            height: 30px;
            text-align: left;
            display: block;
            margin: 1rem;
        }

        tr, td {
            text-align: left;
            margin: 2rem;
            padding: 1rem;
        }
    </style>

</head>
<body>
    <div style="margin: 8rem;">

       
        <h1>PROJECT {{project_name}}</h1>
        <h1 style="margin-top:3rem;">Add Project Mates</h1>
       
        <form method="POST" action="/api/v1/{{project_name}}/add-projectmates" style="margin:2rem auto;">

            <table style="margin: auto;margin-top: 3rem ;margin-bottom: 3rem;">



                <tr>
                    <td>
                        <label>Project Mates</label>
                    </td>
                    <td>:</td>
                    <td id="project-mates">
                        <input type="text" id="ProjectMate1" name="ProjectMate1" required>
                    </td>
                </tr>

            </table>
            <button onclick="NextProjectMate()" type="button" style="position: static;">Add more Projectmate</button><br><br><br><br>


            <input type="submit" style="width: 130px;height: 40px;text-align: center; display: inline;">
        </form>
    </div>


    <script>
    var num = 1;
    function NextProjectMate(event)
    {
        num++;
        var node = document.getElementById("project-mates");
        var newinput = document.createElement("input");
        newinput.type = "text";
        newinput.name = "ProjectMate"+num;
        newinput.id = "ProjectMate"+num;
        newinput.required = true;

        node.appendChild(newinput);
    }

    function Make_List()
    {
        ret_obj = [];
        var node = document.getElementById("project-mates").children;

        for (var i=0;i<node.length;i++)
        {
            var id = "ProjectMate"+(i+1);
            var additional = document.getElementById(id);
            ret_obj.push(additional.value);
        }
        document.getElementById("List").value = ret_obj;
    }

    </script>

</body>
</html>