<!DOCTYPE html>
<html>
<head>
    <title>Add your organization</title>
</head>
<body>
    <form action="/api/v1/create_org_account" method="POST">
        <label for="org_form">organization name : </label>
        <input type="text" placeholder="organization" name="organization_name" value="{{ csrf_token }}"><br><br>
        
        <label for="org_form">state : </label>
        <input type="text" placeholder="state" name="state" value="{{ csrf_token }}"><br><br>

        <label for="org_form">country : </label>
        <input type="text" placeholder="country" name="country" value="{{ csrf_token }}"><br><br>
<!-- 
        <label for="org_form">Username : </label>
        <input type="text" name="username" id="username" required><br>

        <label for="org_form">Email : </label>
-->
        <input type="text" name="email" id="email" value="{{ email }}" hidden><br>
<!--
        <label for="org_form">Password : </label>
        <input type="password" name="password" id="password" required><br>


        <label for="org_form">Position : </label>
        <input type="text" name="position" id="position" required><br>

        <label for="org_form">timezone : </label>
        <input type="text" name="timezone" id="timezone" required><br>

        <label for="org_form">invite people : </label>
        <input type="text" name="invite" id="invite" required><br>

        Upload Profile Picture:<br/>
        <input name="files" type="file" multiple> -->

        <!-- <input type="text" placeholder="admin" name="admin" value="{{ csrf_token }}"><br><br> -->

        {% block javascript %}

        {% endblock %}
     
        <br><br>

        <button class="button">Submit</button>
    </form>

</body>
</html>
