<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Action</title>
</head>

<body>
    <form class="action_list" action="/api/v1/create_action/{{ meeting_key }}" method="POST">
        <input type="text" placeholder="Task Title" name="action_title"><br><br>
        <input type="text" placeholder="Task Description" name="action_description"><br><br>
        <input type="text" placeholder="Expected date(DD/MM/YYYY)" name="expected_date"><br><br>
        <textarea placeholder="Enter each new tasks in new line &#10;Format - task, description, label &#10;E.g. - Fastapi,testing file,high" name="tasks" cols="40" rows="15"></textarea><br><br>
        <input type="text" placeholder="Assignees - sep by commas" name="assignees"><br><br>
        <button> Submit </button>
    </form>
</body>

</html>
