<!DOCTYPE html>
<html>

<head>
    <title> Create Meetings </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <script>
        function hideshow(){
            console.log($("#meetingprovider").val());
            if($("#meetingprovider").val() == "custom"){
                document.getElementById("Link").hidden = false;
                document.getElementById("linkbutton").hidden = true;
            }
            else{
                document.getElementById("Link").hidden = true;
                document.getElementById("linkbutton").hidden = false;
            }
        }
        
    </script>
        <!--<input type="text" placeholder="date" name="date" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="month" name="month" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="year" name="year" value="{{ csrf_token }}"><br><br>-->
        <!-- <input type="text" placeholder="invitees" name="invitees" value="{{ csrf_token }}"><br><br> -->
    <form action="/api/v1/create_meeting" method="POST" id="form" enctype="multipart/form-data">
        <input type="text" placeholder="hostname" name="hostname" id="hostname" value="{{ csrf_token }}"><br><br>
        <input type="date" placeholder="date" name="date" id="date" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="meeting subject" name="meeting_subject" id="meeting_subject" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="Agenda" name="agenda" id="agenda" value="{{ csrf_token }}"><br><br>
        <input type="time" placeholder="start time" name="start_time" id="start_time" value="{{ csrf_token }}"><br><br>
        <input type="time" placeholder="end time" name="end_time" id="end_time" value="{{ csrf_token }}"><br><br>
        <select name="meetingprovider" id="meetingprovider" onchange="hideshow()">
            {% if usertype=="microsoft" or pcalendar=="microsoft" %}
            <option value="teamsForBusiness">MSTeams</option>
            {% endif %}
            {% if usertype=="google" or pcalendar=="google" %}
            <option value="hangoutsMeet">Google</option>
            {% endif %}
            <option value="Zoom">Zoom</option>
            <option value="custom">Custom Link</option>
        </select>
        <script>
            function get_link(members){
                console.log("Fetching link");
                var data = new FormData();
                data.append('hostname',document.getElementById('hostname').value);
                data.append('date',document.getElementById('date').value);
                data.append('meeting_subject',document.getElementById('meeting_subject').value);
                data.append('agenda',document.getElementById('agenda').value);
                data.append('start_time',document.getElementById('start_time').value);
                data.append('end_time',document.getElementById('end_time').value);
                data.append('meetingprovider',document.getElementById('meetingprovider').value);
                if(members=="team"){
                    fetch("/api/v1/generate_meeting_link/team",
                        {method: 'POST', mode: 'cors', body: data})
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("linktext").value = data["link"];
                        })
                        .catch(console.error);
                }
                else if(members=="org"){
                    fetch("/api/v1/generate_meeting_link/organization",
                        {method: 'POST', mode: 'cors', body: data})
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("linktext").value = data["link"];
                        })
                        .catch(console.error);
                }
                else if(members=="project"){
                    fetch("/api/v1/generate_meeting_link/project",
                        {method: 'POST', mode: 'cors', body: data})
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById("linktext").value = data["link"];
                        })
                        .catch(console.error);
                }
            }
        </script>
        <input id="Link" type="text" placeholder="Enter you own meeting link" name="link" value="{{ csrf_token }}" hidden/><br><br>
        <button id="linkbutton" onclick="get_link('org')" type="button">Generate Meeting Link</button>
        <input id="linktext" size="40" name="linktext" readonly value=""/>
        <h1>Your Files</h1>
        <br><br>

        <br><br>
        <!--<form method="post" action="/api/v1/uploadfile/" enctype="multipart/form-data">
            <label for="myfile">Select a file:</label>
            <input type="file" id="myimage" name="file">
            <br>
            <input type="submit" value="Upload">
        </form>-->
        <input type="file" id="myfile" name="files" multiple>
        <select name="fileuploadthirdparty">
            <option value="None">None</option>
            {% if usertype=="microsoft" or pcalendar=="microsoft" %}
            <option value="teamsForBusiness">MSTeams</option>
            {% endif %}
            {% if usertype=="google" or pcalendar=="google" %}
            <option value="hangoutsMeet">Google</option>
            {% endif %}
        </select>
        <button type="submit" class="button">Submit</button>
    </form>
    <script>
        $(document).ready(function(){
            var team = "{{ team }}";
            var project = "{{ project_name }}";
            console.log(team);
            console.log(project);
            if(team!="" && project==""){
                document.getElementById("form").action = "/api/v1/{{ team }}/create_meet";
                document.getElementById("linkbutton").onclick = get_link("team");
            }
            else if(team=="" && project!=""){
                document.getElementById("form").action = "/api/v1/{{ project_name }}/create_project_meeting";
                document.getElementById("linkbutton").onclick = get_link("project");
            }
            $("#download").click(function() {
                var filename = $("#file").val();

            })
        });
    </script>
</body>

</html>
