<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decisions</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src=divtest.js></script>
</head>
<body>
    {% if is_host %}
    <form action="/api/v1/insert_decision/{{ meeting_key }}/" method="post">
    <textarea placeholder="write new decisions in new line" name="decision" cols="30" rows="10"></textarea><br>
    <button type="submit"> Insert Decisions </button>
    </form>
    {% endif %}

    {% if decisions %}
    <h2>Decisions :</h2>
    {% for decision, data in decisions.decision.items() %}
    <h2> {{ decision }} </h2>
    <h4> Creator - {{ data.created_by }} &nbsp;&nbsp;
        <span id="upvoted list {{ decision }}" >
        {% if username in data.liked_by %}
        <a href="/api/v1/remove_upvote/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}/{{ is_host }}"> Upvoted </a>
        {% else %}
        <a href="/api/v1/add_upvote/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}/{{ is_host }}"> Upvote </a>
        {% endif %}
        </span>
        - {{ data.liked_by|length }} &nbsp;&nbsp; 
        <span id="downvoted list {{ decision }}">
        {% if username in data.downvoted_by %}
        <a href="/api/v1/remove_downvote/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}/{{ is_host }}"> Downvoted </a>
        {% else %}
        <a href="/api/v1/add_downvote/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}/{{ is_host }}"> Downvote </a>
        {% endif %}
        </span>
        - {{ data.downvoted_by|length }} </h4>
        <div id="upvoted user list {{ decision }}">
            <h3>Upvoted by : </h3>
            {% for users in data.liked_by %}
                {{ users }}
            {% endfor %}
        </div>
        <div id="downvoted user list {{ decision }}">
            <h3>Downvoted by : </h3>
            {% for users in data.downvoted_by %}
                {{ users }}
            {% endfor %}
        </div>
    {% if is_host %}
    <form action="/api/v1/modifiy_decision/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}" method="post">
        <input type="text" name="modified_decision">
        <button type="submit">Modifiy Decision</button>
    </form><br>
    <form action="/api/v1/delete_decision/{{ meeting_key }}/{{ decisions._key }}/{{ decision }}/{{ is_host }}" method="get">
    <button type="submit"> Delete Decision </button>
    </form>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if decisions %}
    <h2> Comment Section : </h2>
    {% for datetime, comment_data in decisions.comments.items() %}
    {% for commentor, comment in comment_data.items() %}
    {{ commentor }} : {{ comment}}  &nbsp; {{ datetime }} <br>
    {% endfor %}
    {% endfor %}
    {% endif %}

    <form action="/api/v1/add_comment/{{ decisions._key }}" method="post">
        <input type="text" name="comment">
        <button type="submit"> Add comment </button>
    </form>

</body>
</html>
