<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="CONTAINER">
        {% if meeting and not meeting.meeting_ended %}
            <h1> {{meeting.meeting_subject}} </h2>
            <h3> Date - {{meeting.date}} </h3>
            <h3> Start Time - {{meeting.start_time}} </h3>
            <h3> End Time - {{meeting.end_time}} </h3>
            <h3> Hostname - {{ meeting.hostname }} </h3><br/>
            --------------------------------------------------------------------------------------------------------------------------<br/>
            <h3> Agenda - {{ meeting.agenda }} </h3><br/>
            -----------------------------------------------<br/>
            <h3> Sub-Agendas - </h3>
            {% for subagenda in subagendas %}
                -----------------------------------------------<br/>
                <h3>===> {{ subagenda.agenda_desc }}</h3>
                <h3>====> {{ subagenda.assignee }}</h3>
                <h3>====> {{ subagenda.time_required }}</h3>
                <!-- {# if username == meeting.hostname #} -->
                    <form action="/api/v1/agenda/modify/{{ meeting._key }}/{{ subagenda._key }}" method="POST">
                        <input type="text" name="modified_agenda" placeholder="Enter modified agenda" size="29px">
                        <input type="text" name="assignees" placeholder="Enter assignees" size="29px">
                        <input type="time" name="time_required">
                        <button> Modify Sub-Agenda </button>
                    </form>
                <!-- {# endif #} -->
            {% endfor %}
            -----------------------------------------------<br/>
            <!-- {# if username == meeting.hostname #} -->
                <!-- {# if agenda_requests %}
                    <h3> Sub-Agenda Requests - </h3>
                    {% for agenda_request in agenda_requests %}
                        -----------------------------------------------<br/>
                        <h3>===> {{ agenda_request.agenda_desc }}</h3>
                        <h3>====> {{ agenda_request.assignee }}</h3>
                        <h3>====> {{ agenda_request.time_required }}</h3>
                        <form action="/api/v1/agenda/request_accept/{{ agenda_request._key }}" method="POST">
                            <button> Accept </button>
                        </form>
                        <form action="/api/v1/agenda/request_reject/{{ agenda_request._key }}" method="POST">
                            <button> Reject </button>
                        </form>
                    {% endfor %}
                {% endif #} -->
                <form action="/api/v1/agenda/add/{{ meeting._key }}" method="POST">
                    <input type="text" name="new_agenda" placeholder="Enter new agenda" size="29px">
                    <input type="text" name="assignees" placeholder="Enter assignees" size="29px">
                    <input type="time" name="time_required">
                    <button> New Sub-Agenda </button>
                </form>
            <!-- {# else %}
                <form action="/api/v1/agenda/request/{{ meeting._key }}" method="POST">
                    <input type="text" name="new_agenda_request" placeholder="Enter new agenda request" size="29px">
                    <input type="text" name="assignees" placeholder="Enter assignees" size="29px">
                    <input type="time" name="time_required">
                    <button> New Sub-Agenda </button>
                </form> -->
            <!-- {# endif #} -->
            <h4> Meeting Link - {{meeting.link}} </h4>
            <h4> Invitees </h4>
            {% for invitee in meeting.invitees or [] %}
                <h5> {{ invitee }} </h5>
            {% endfor %}
            {% if meeting.meeting_review %}
                <h4> Meeting History </h4>
                {% for user, feedback in meeting.meeting_review.items() %}
                    <h5> User - {{ user }} </h5>
                    <h5> Rating - {{ feedback.rating }} </h5>
                    <h5> Meeting Summary - {{ feedback.meeting_summary }} </h5><br><br>
                {% endfor %}
            {% endif %}

            {% if action_task %}
                    <h5> Action List </h5>
                {% for action, tasks in action_task %}
                    Action Title - {{ action.title }} <br>
                    Action Description - {{ action.description }} <br>
                    Action Expected Date - {{ action.expected_date }} <br>
                    Tasks - <br>
                    {% for task in tasks %}
                        <h5> Task Title - {{ task.title }}</h5>
                        <h5> Task Description - {{ task.description }} </h5>
                        <h6> Label - {{ task.label }} </h6>
                        --------------------------------------------------------------------------------------------------------------------------
                        <h5> Comments : </h5>
                        {% for comment in task.comments %}
                            ------------------------------------------------------------------
                            <h4>Time - {{ comment }} :: User : {{ task.comments[comment][0] }}</h4>
                            <h4>Message : {{ task.comments[comment][1] }}</h4>
                        {% endfor %}
                        --------------------------------------------------------------------------------------------------------------------------<br/>
                        <form action="/api/v1/comment/{{ task._key }}" method="POST">
                            <input type="text" name="comment" placeholder="Add your comment here" size="29px">
                            <button> Add comment </button>
                        </form>
                        --------------------------------------------------------------------------------------------------------------------------<br/>
                        {% if username == meeting.hostname %}
                            <form style="display: inline-block;" action="/api/v1/modifiy_task/{{ action._key }}/{{ task._key }}" method="POST">
                                <input type="text" name="modified_task" placeholder=" Format - task,description,label,assignee" size="29px">
                                <button> Modify task </button>
                            </form><br><br>
                            <form action="/api/v1/delete_task/{{ action._key }}/{{ task._key }}" method="GET">
                                <button> Delete Task </button>
                            </form>
                        {% endif %}
                        {% if not task.assigned %}
                            <br>
                            <form action="/api/v1/assign_task/{{ action._key }}/{{ task._key }}" method="post">
                                <button> Self Assign </button>
                            </form>
                        {% else %}
                            <h3> Assigned -
                                {% for assignee in task.assigned %}
                                    <h4> {{ assignee }} </h4>
                                {% endfor %}
                                {% if username in task.assigned %}
                                    <form action="/api/v1/unassign_task/{{ action._key }}/{{ task._key }}" method="post">
                                        <button> Self Unassign </button>
                                    </form>
                                {% endif%}
                                <br>
                                {% if username == meeting.hostname %}
                                    <form action="/api/v1/unassign_task/{{ action._key }}/{{ task._key }}" method="post">
                                        <input type="text" placeholder="assignee name separated with commas and no space" size="40px" name="assignees"><br><br>
                                        <button> Unassign </button>
                                    </form>
                                {% endif %}
                            </h6>
                        {% endif %}

                        <h6>
                            {% if (username in task.assigned) or (username == meeting.hostname) %}
                                <form action="/api/v1/assign_task/{{ action._key }}/{{ task._key }}" method="post">
                                    <input type="text" placeholder="assignee name separated with commas and no space" size="40px" name="assignees"><br><br>
                                    <button> Assign </button>
                                </form>
                            {% endif %}
                        </h6>
                    {% endfor %}
                    {% if meeting.hostname == username %}
                        <form class="new_task" action="/api/v1/add_task/{{ action._key }}" method="POST">
                            <textarea placeholder="Enter each new tasks in new line &#10;Format - {task,description,label,assignee} &#10;E.g. - Fastapi,testing file,high,akshat" name="tasks" cols="45" rows="5"></textarea><br><br>
                            <button> Add Task </button>
                        </form>
                    {% endif %}
                    <form action="/api/v1/delete_action/{{ meeting._key }}/{{ action._key }}"
                    method="GET"><br>
                    <button> Delete Action </button>
                    </form>
                {% endfor %}
            {% endif %}
            {% if meeting.hostname == username %}
                <form action="/api/v1/render_create_action/{{ meeting._key }}"
                method="GET"><br>
                <button> Create Action </button>
                </form>
            {% endif %}
            {% if meeting.hostname == username %}
                <form action="/api/v1/end_meeting/{{ meeting_key }}" method="get"><br>
                    <button type="submit"> End meeting </button>
                </form>
            {% endif %}
        {% endif %}
        {% if meeting.meeting_ended %}
            <form action="/api/v1/get_decision/{{ meeting_key }}/{{ meeting.hostname == username}}" method="get"><br>
                <button type="submit"> Decision Table </button>
            </form>
        {% endif %}
    </div>
</body>

</html>
