<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <h2>Project Details</h2>
    <table id="table">
        <tr>
            <td>Project name</td>
            <td>{{project_details['project_data'][0]['ProjectName']}}</td>
        </tr>
        <tr>
            <td>Field Type</td>
            <td>{{project_details['project_data'][0]['FieldType']}}</td>
        </tr>
        <tr>
            <td>Project Description</td>
            <td>{{project_details['project_data'][0]['ProjectDescription']}}</td>
        </tr>
        <tr>
            <td>Admin</td>
            <td>{{project_details['project_data'][0]['CurrentAdminEmail']}}</td>
        </tr>
        <tr>
            <td>Started On</td>
            <td>{{project_details['project_data'][0]['StartedOn']}}</td>
        </tr>
        <tr>
            <td>Expected End Date</td>
            <td>{{project_details['project_data'][0]['ExpectedEndDate']}}</td>
        </tr>
        <a href="/api/v1/homepage"><input type="button" value="Back to homepage"/></a>
        

    </table>

</body>

</html>