﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project  Members </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <table id="table">
        <tr><th colspan="4">PROJECT NAME - {{ projectname }}</th></tr>
        <tr>
            <th>Member email</th>
            <th>Member name</th>
            <th>Delete Member</th>
        </tr>
        {% for member in projectmates %}
        <tr>
            <td>{{member["email"]}}</td>
            <td>{{member["name"]}}</td>
            {% if isadmin %}
            <td><a href="/api/v1/{{projectname}}/{{member['email']}}/delete_project_member">Delete Member</a></td>
            {% else %}
            <td>Not an admin</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <br/>
    {% if isadmin %}
        <a href="/api/v1/{{projectname}}/add-projectmates"><button> Add Member</button></a>
    {% endif %}

</body>

</html>