﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <table id="table">
        <tr><th colspan="7">organization Projects </th></tr>
        <tr>
            <th>Project Name</th>
            <th>Display Project Data</th>
            <th>Display Project Members</th>
            <th>Update Project</th>
            <th>Delete Project</th>
            <th>Create Project Meeting</th>
        </tr>
        {% for project in projects %}
        <tr>
            <td>{{project}}</td>
            <td><a href="/api/v1/{{project}}/data">Display Project Data</a></td>
            <td><a href="/api/v1/{{project}}/display-project-members">Display Project Members</a></td>
            {% if adminmap[project] %}
            <td><a href="/api/v1/{{project}}/update_project">Update Project</a></td>
            <td><a href="/api/v1/{{project}}/delete-project">Delete Project</a></td>
            <td><a href="/api/v1/{{project}}/create_project_meeting">Create Project Meeting</a></td>
            {% else %}
            <td>Not an admin</td>
            <td>Not an admin</td>
            <td>Not an admin</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

</body>

</html>