<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample</title>

    <script>
        $(document).ready(function(){

            $("#myHref").on('click', function() {
            document.getElementById(".myDiv").style.flexGrow = "5";
            window.location = "http://www.google.com";

            });

            $("#download").click(function() {
                var filename = $("#file").val();

            })
        });
    </script>

</head>
<body>

    {% block javascript %}

    {% endblock %}
 
    <h1>Your Files</h1>
    <br><br>

    <br><br>
    <form method="post" action="/api/v1/uploadfile/" enctype="multipart/form-data">
        <label for="myfile">Select a file:</label>
        <input type="file" id="myimage" name="file" multiple>
        <br>
        <input type="submit" value="Upload">
    </form>
    
    <h2>Uploaded Files :</h2>
    
    {% for file in Files %}

        <!-- <p><a href="#" onclick="javascript:download({{file}})"> {{ file }}  </a></p> -->

        <form method="GET" action="/api/v1/download_file/">
            <input type="text" name="filename" value="{{ file }}">
            <button type="submit">Download</button>
        </form>

    {% endfor %}

</body>
</html>