<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <table id="table">
        <tr><th colspan="4">Organization : {{ workspace }}</th></tr>
        <tr><th colspan="4">Meetings</th></tr>
        <tr>
            <th>Meeting Host</th>
            <th>Meeting Subject</th>
            <th>Meeting Agenda</th>
            <th>Meeting Date</th>
        </tr>
        {% for meeting in meetings %}
            <tr>
                <td>{{meeting["hostname"]}}</td>
                <td><a href="/api/v1/meeting_details/{{ meeting['_key'] }}">{{meeting["meeting_subject"]}}</a></td>
                <td><a href="/api/v1/meeting_details/{{ meeting['_key'] }}">{{meeting["agenda"]}}</a></td>
                <td><a href="/api/v1/meeting_details/{{ meeting['_key'] }}">{{meeting["date"]}}</a></td>
            </tr>
        {% endfor %}
        <tr><th colspan="4">Tasks</th></tr>
        <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Task Label</th>
            <th>Task Assigned</th>
        </tr>
        {% for meeting in tasks %}
            {% for task in tasks[meeting] %}
                <tr>
                    <td>{{task["title"]}}</td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">{{task["description"]}}</a></td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">{{task["label"]}}</a></td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">{{task["assigned"]}}</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr><th colspan="4">Decisions</th></tr>
        <tr>
            <th>Decision Name</th>
            <th>Decision Created By</th>
            <th>Decision Label</th>
            <th>Decision Assigned</th>
        </tr>
        {% for meeting in decisions %}
            {% for decision in decisions[meeting] %}
                <tr>
                    <td>{{decision["decision"]}}</td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">{{decision["created_by"]}}</a></td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">------------</a></td>
                    <td><a href="/api/v1/meeting_details/{{ meeting }}">------------</a></td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>

</body>

</html>