<!DOCTYPE html>
<html lang="en">

<head>
    <title> Improve Us Form </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/improve_us_submission/{{ username }}" method="POST">
        <input type="text" placeholder="Firstname" name="firstname">
        <input type="text" placeholder="Surname" name="surname"><br><br>
        <textarea placeholder="Feedback" name="feedback" rows="8" cols="40"></textarea><br><br>
        <button> Submit </button>
    </form>
</body>

</html>