<!DOCTYPE html>
<html lang="en">

<head>
    <title> Improve Us Form </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2> Improve Us Log </h2>
    {% for i in data %}
    <h4> {{ i.feedback }} <br> {{ i.created_at }} </h4><br>
    {% endfor %}
</body>

</html>