<html>
  <head>
    <title>Item Details</title>
  </head>
  <body>
    <h1>Trying to submit the Email</h1>
    <form action="/api/v1/emailbackground" method="POST">
      <label for="entermail">Enter the email id:</label>
      <input name="email" id="email" />
      <input name="organization" id="organization" value="{{ org }}" hidden/>
      <input type="submit" value="send" />
      <input type="text" name="user_email" value="{{ email }}" hidden/>
      <a href="/api/v1/home"><input type="button" value="Skip"/></a>
    </form>
  </body>
</html>
