<!DOCTYPE html>
<html lang="en">

<head>
    <title> Events </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #table tr:nth-child(even){background-color: #f2f2f2;}
    </style>
</head>

<body>
    <table id="table">
        <tr>
          <th>Subject</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        {% for event in events_list %}
              <tr>
                  <td>{{event["subject"]}}</td>
                  <td>{{event["start"]["dateTime"]}}</td>
                  <td>{{event["end"]["dateTime"]}}</td>
                  <td><a href="/api/v1/update-event/{{ event['id'] }}">Update</a></td>
                  <td><a href="/api/v1/delete-event/{{ event['id'] }}">Delete</a></td>
              </tr>
        {% endfor %}
    </table>
    <div style="margin-left: 40vw;padding-top: 5vh;font-size: 40px;">
        <a href="/api/v1/create_meeting">Create new meeting</a>
    </div>
    
</body>

</html>