<!DOCTYPE html>
<html lang="en">
<script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<script>
    const beamsClient = new PusherPushNotifications.Client({
        instanceId: '{{ instanceid }}',
    });
    const beamsTokenProvider = new PusherPushNotifications.TokenProvider({
    url: '/api/v1/pusher/beams-auth',
    });
    beamsClient.getUserId()
        .then(userId => {
            // Check if the Beams user matches the user that is currently logged in
            if (userId != "{{current_user}}") {
                // Unregister for notifications
                return beamsClient.stop();
            }
        })
        .catch(console.error);
    beamsClient
        .start()
        .then(() => beamsClient.setUserId('{{ current_user }}', beamsTokenProvider))
        .catch(console.error);
</script>

<body>
    <form action="/api/v1/user_meetings" method="POST">
        <input type='text' placeholder="username" name="username" value="{{ csrf_token }}">
        <button> Search </button>
    </form>
</body>
</html>