<html>
    <head>
        <title>Markdown Example</title>
    </head>
    <body>
        <form method="POST" action="/api/v1/markdown">
            <textarea id="md" name="md"></textarea>
            <button type="submit">Preview</button>
        </form>
        <br/>
        {{ Markdown | safe }}
    </body>
</html>