<!DOCTYPE html>
<html lang="en">

<head>
    <title> Meeting Review Form </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/api/v1/meeting_review_submission/{{ meeting_key }}" method="POST">
        <input type="number" placeholder="Rating out of 5" name="rating" value="{{ csrf_token }}"><br><br>
        <textarea placeholder="Meeting Summary" name="meeting_summary" rows="8" cols="40"></textarea><br><br>
        <button> Submit </button>
    </form>
</body>

</html>
