<!DOCTYPE html>
<html>

<head>
    <title> Create Notes </title>
</head>

<body>
    <form action="/api/v1/notes/{{ meeting_key }}" method="POST">
        <p>Hello {{ username }}! Here are notes</p>
        <textarea id="notes" placeholder="Enter meeting notes" name="notes" value="{{ csrf_token }}">{{ notes }}</textarea><br><br>
        <button class="button" id="savebutton">Save</button>
    </form>
</body>
<script>
    mybutton = document.getElementById("savebutton");
    mybutton.style.display = "{{ disp }}";
    mynotes = document.getElementById("notes");
    mynotes.disabled = Boolean("{{ notedisp }}");
</script>
</html>
