﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Project</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: Rubik;
            text-align: center;
        }
        input,select{
            width: 200px;
            height: 30px;
            text-align: left;
            display: block;
            margin: 1rem;
        }
        tr,td{
            text-align: left;
            margin: 2rem;
            padding: 1rem;
        }
        #11,#22{
            margin: auto;
        }
    </style>

</head>
<body>
    <div style="margin: 8rem;">

        <h1 style="margin-top:3rem;">Modify Project</h1>
        <h1 style="margin-top:3rem;">Write the values You need to update</h1>

        <form method="POST" action="/api/v1/{{project_name}}/update_project" style="margin:2rem auto;" enctype="application/x-www-form-urlencoded">

            <table style="margin: auto;margin-top: 3rem ;margin-bottom: 3rem;">

                <tr>
                    <td>
                        <label>Field Type</label>
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text"  name="FieldType" value="{{ P_data['FieldType'] }}" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Project Name(Unchangeable)</label>
                    </td>
                    <td>:</td>
                    <td>
                        <input type="text"  name="ProjectName" value="{{ P_data['ProjectName'] }}" readonly>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Expected Completion Date</label>
                    </td>
                    <td>:</td>
                    <td>
                        <input type="datetime"  name="ExpectedEndDate" value="{{ P_data['ExpectedEndDate'] }}" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Project Description</label>
                    </td>
                    <td>:</td>
                    <td>
                        <textarea type="text" name="ProjectDescription" rows="4" cols="40" required>{{ P_data['ProjectDescription'] }}</textarea>
                    </td>
                </tr>

                    
                <tr>
                    <td>
                        <label>Start On</label>
                    </td>
                    <td>:</td>
                    <td>
                        <input type="datetime"  name="StartedOn"  value="{{ P_data['StartedOn'] }}" required>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Active</label>
                    </td>
                    <td>:</td>
                    <td>
                        <select name="ActiveYN" required>
                            <option value="{{ P_data['ActiveYN'] }}">{{ P_data['ActiveYN'] }}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </td>
                </tr>

                


            </table>


            <input type="submit"  style="width: 130px;height: 40px;text-align: center; display: inline;">
        </form>
    </div>


</body>
</html>