<html>
<head>
    <title>Admin Name</title>
</head>
<body>

    <form action="/api/v1/{{project_name}}/modify_project_admin" method="POST">
        <label for="admin">Enter the new project admin name:</label>
        <input name="admin" id="admin" />
        <input type="submit" value="send" />
    </form>
</body>
</html>
