<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project  Members </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <table id="table">
        <tr><th colspan="4">MY PROJECTS</th></tr>
        <tr>
            <th>Project name</th>
            <th>Status</th>
        </tr>
        {% for project in my_projects %}
        <tr>
            <td><a href="/api/v1/{{project["project_data"]["ProjectName"]}}/data">{{project["project_data"]["ProjectName"]}}</a></td>
            <td>{{project["project_data"]["status"]}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>