<html>
<head>
    <title>Search</title>
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    
</head>
<body>
    <h1>Search</h1>
    <form action="/api/v1/search_meetings_by_meeting_subject" method="POST">
        <label for="search_data">Enter the data to be searched:</label>
        <input name="search_data" id="search_data" />
        <input type="submit" value="send" />
    </form>

   


    <table id="table">
        <tr><th colspan="6">Search Results </th></tr>
        <tr>
            <th>Meeting Subject</th>
            <th>Host</th>
            <th>Start time</th>
            <th>End Time</th>
            <th>Agenda</th>
            <th>Invitees</th>
        </tr>
        {% for meeting in search_results %}
        <tr>
            <td>{{meeting["meeting_subject"]}}</td>
            <td>{{meeting["hostname"]}}</td>
            <td>{{meeting["start_time"]}}</td>
            <td>{{meeting["end_time"]}}</td>
            <td>{{ meeting['agenda'] }}</td>
            <td>{{ meeting['invitees'] }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
