<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/api/v1/search_meetings_result" method="POST">
        <input type='text' placeholder="username" name="username" value="{{ csrf_token }}">
        <button> Search </button>
    </form>
</body>

</html>