<html>
<head>
    <title>Search</title>
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>
<body>
    <h1>Search</h1>
    <form action="/api/v1/search_actions_by_title" method="POST">
        <label for="search_data">Enter the data to be searched:</label>
        <input name="search_data" id="search_data" />
        <input type="submit" value="send" />
    </form>

    <table id="table">
        <tr><th colspan="6">Search Results </th></tr>
        <tr>
            <th>Created By</th>
            <th>Created Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>Expected Date</th>
            <th>Hostname</th>
        </tr>
        {% for action in search_results %}
        <tr>
            <td>{{action["created_by"]}}</td>
            <td>{{action["created_date"]}}</td>
            <td>{{action["title"]}}</td>
            <td>{{action["description"]}}</td>
            <td>{{action['expected_date'] }}</td>
            <td>{{action['hostname'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
