<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add members to the meeting</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: Rubik;
            text-align: center;
        }
        input{
            width: 200px;
            height: 30px;
            text-align: left;
            display: block;
            margin: 1rem;
        }
        tr,td{
            text-align: left;
            margin: 2rem;
            padding: 1rem;
        }
    </style>

</head>
<body>
    <div style="margin: 8rem;">

        {% if name %}
        <h1>Thankyou, {{name}}</h1>

        {% else %}
        <h1 style="margin-top:3rem;">Add members</h1>
        {% endif %}
        <form method="POST" action="/api/v1/common_slots" style="margin:2rem auto;">

            <table style="margin: auto;margin-top: 3rem ;margin-bottom: 3rem;">

            

            <tr>
                <td>
                    <label>Members</label>
                </td>
                <td>:</td>
                <td id="members">
                    <input type="text" id="Member1" name="Member1" required></input>
                </td>
            </tr>

            </table>
            <button onclick="NextMember()" type="button" style="position: static;" >Add more Member</button><br><br><br><br>

            <input type="text" placeholder="days" name="days" value="{{ csrf_token }}"><br><br>
            <input type="date" placeholder="from" name="from" value="{{ csrf_token }}"><br><br>
            <input type="date" placeholder="to" name="to" value="{{ csrf_token }}"><br><br>

            <input type="submit"  style="width: 130px;height: 40px;text-align: center; display: inline;">
        </form>
    </div>


<script>
    var num = 1;
    function NextMember(event)
    {
        num++;
        var node = document.getElementById("members");
        var newinput = document.createElement("input");
        newinput.type = "text";
        newinput.name = "Member"+num;
        newinput.id = "Member"+num;
        newinput.required = true;
        
        node.appendChild(newinput);
    }

    function Make_List()
    {
        ret_obj = [];
        var node = document.getElementById("members").children;
        
        for (var i=0;i<node.length;i++)
        {
            var id = "Member"+(i+1);
            var additional = document.getElementById(id);
            ret_obj.push(additional.value);           
        }
        document.getElementById("List").value = ret_obj;
    }

</script>

</body>
</html>