<!DOCTYPE html>
<html lang="en">

<head>
    <title> Events </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        #table td, #table th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        
        #table th{background-color: #f2f2f2;}
    </style>
</head>

<body>
    <table id="table">
        <tr><th colspan="4">TEAM NAME - {{ team_name }}</th></tr>
        <tr>
          <th>Member name</th>
          <th>Joined on</th>
          <th>Active</th>
          <th>Admin</th>
        </tr>
        {% for member in members %}
              <tr>
                  <td>{{member}}</td>
                  <td>{{members[member]["joined_date"]}}</td>
                  <td>{{members[member]["active_yn"]}}</td>
                  <td>{{members[member]["admin_yn"]}}</td>
              </tr>
        {% endfor %}
    </table>
    {% if is_admin %}
    <a href="/api/v1/add-team-member"><button>Add team members</button></a>
    {% endif %}
    
</body>

</html>