<!DOCTYPE html>
<html lang="en">

<head>
    <title>Projects </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even) {
                background-color: #f2f2f2;
            }
    </style>
</head>

<body>
    <table id="table">
        <tr>
          <th>Team name</th>
          <th>Admin</th>
        </tr>
        {% for team in teams %}
              <tr>
                  <td><a href="/api/v1/{{team['_key']}}/display_team">{{team["_key"]}}</a></td>
                  <td>{{ team["Members"][user]["admin_yn"] }}
                        {% if team["Members"][user]["admin_yn"] == True %}
                            <a href="/api/v1/delete_team/{{ team['_key'] }}"><button>Delete Team</button></a>
                            <a href="/api/v1/{{ team['_key'] }}/create_meeting"><button>Create Meeting</button></a>
                        {% endif %}
                  </td>
              </tr>
        {% endfor %}
    </table>
</body>

</html>