<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History/ {{Meeting_Data['subject']}}</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">


    <style>
        *{
            font-family: Rubik;
            text-align: center;
        }
        table{
            margin: auto;
        }
        tr,td{
            margin: 1rem;
            padding: 1rem;
        }
    </style>

</head>
<body >
    <div style="border: 1px solid black;width: 800px;margin: auto;margin-top: 5rem;">
    {% block content %}

    <h1>{{Meeting_Data['subject']}}</h1>

    <table>
        <tr>
            <td>Date</td>
            <td>:</td>
            <td>{{Meeting_Data['date']}}</td>
        </tr>
        <tr>
            <td>Start-Time</td>
            <td>:</td>
            <td>{{Meeting_Data['start-time']}}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td>:</td>
            <td>{{Meeting_Data['duration']}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>:</td>
            <td>{{Meeting_Data['link']}}</td>
        </tr>
        <tr>
            <td>Participants</td>
            <td>:</td>
            <td>
                {% for user in Meeting_Data['attended_y']  %}
                <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}
            </td>
        </tr>

    </table>

    <h2>SUMMARY</h2>
    <p>{{Meeting_Data['agenda']}}</p>


    <h2>Agenda</h2>
    <p>{{Meeting_Data['agenda']}}</p>

    {% endblock %}
    </div>
</body>
</html>