﻿<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form action="/api/v1/search_meetings_result" method="POST">
        <input type='text' placeholder="username" name="username" value="{{ csrf_token }}">
        <button> Search </button>
    </form><br>
    <form action="/api/v1/create_meeting"> <button> Create meeting </button> </form><br>
    <a style="color: black;" href="/improve_us/{{ username }}"> Improve Us </a><br><br>
    <form action="/api/v1/upcoming_meetings"> <button> Upcoming meetings </button> </form><br>
    <form action="/api/v1/pending_meetings/{{ username }}"> <button> Pending meetings </button> </form><br>
    <h1> Upcoming meetings </h1><br>
    <div class="CONTAINER">
        {% for i in data or [] %}
        <!-- meeting date -->
        <h2 style="padding-right: 80%;">
            {% if i.date == today %}
            <h2> today </h2>
            {% elif i.date == tomorrow %}
            <h2> tomorrow </h2>
            {% else %}
            <h2> Upcoming </h2>
            {% endif %}
        </h2>
        <div class="CARD">
            <!-- meeting_subject -->
            <h2>{{i.meeting_subject}}</h2>
            <!-- meeting start time and end time -->
            <h3>{{i.start_time}} - {{i.end_time}}</h3>
            <a style="color: black;"
                href="/api/v1/meeting_details/{{ i['_key'] }}">Details</a><br>
            <a style="color: black;"
                href="/api/v1/meeting_review/{{ username }}/{{ i['_key'] }}"> Submit meeting
                review </a>
        </div>
        <br><br><br><br><br><br>
        {% endfor %}
    </div>
</body>

</html>