<!DOCTYPE html>
<html>
    <head>
        <title>Update Meeting</title>
    </head>
    <body>
        <form action="/api/v1/update-event/{{ event['id'] }}" method="POST">
            <input type="date" placeholder="date" name="date" value="{{ event['start']['dateTime'].split('T')[0] }}"><br><br>
            <input type="text" placeholder="meeting subject" name="meeting_subject" value="{{ event['subject'] }}"><br><br>
            <!-- <input type="text" placeholder="invitees" name="invitees"><br><br> -->
            <input type="text" placeholder="Agenda" name="agenda" value="{{ agenda }}"><br><br>
            <input type="time" placeholder="start time" name="start_time" value="{{ event['start']['dateTime'].split('T')[1][0:-11] }}"><br><br>
            <input type="time" placeholder="end time" name="end_time" value="{{ event['end']['dateTime'].split('T')[1][0:-11] }}"><br><br>
            <button class="button">Submit</button>
        </form>
    </body>
</html>