<!DOCTYPE html>
<html>
    <head>
        <title>Update Meeting</title>
    </head>
    <body>
        <form action="/api/v1/update_meeting/{{ data['_key'] }}" method="POST">
            <input type="date" placeholder="date" name="date" value="{{ data['date'] }}"><br><br>
            <input type="text" placeholder="meeting subject" name="meeting_subject" value="{{ data['meeting_subject'] }}"><br><br>
            <!-- <input type="text" placeholder="invitees" name="invitees"><br><br> -->
            <input type="text" placeholder="Agenda" name="agenda" value="{{ data['agenda'] }}"><br><br>
            <input type="time" placeholder="start time" name="start_time" value="{{ data['start_time'] }}"><br><br>
            <input type="time" placeholder="end time" name="end_time" value="{{ data['end_time'] }}"><br><br>
            <button class="button">Update</button>
        </form>
    </body>
</html>