<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Do List</title>



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        body{
            font-family: Rubik;
            text-align: center;
        }

        .MyList{
            border: 1px solid #EEEEEE;
            border-radius: 6px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
            width: 500px;
            margin: 5rem auto;
            text-align: left;
            padding-left: 2rem;
            position: relative;
            
        }

        ul{
            list-style-type: disc;
            text-decoration: none;
            padding: 0;
        }
        .fax{
            color: rgb(80, 76, 76);
            transform: rotateZ(180deg);
            padding-bottom: 5px;
            position: absolute;
            right: 120px;
        }
        .fax:hover{
            color: skyblue;
        }

        a{
            text-decoration: none;
            color: rgb(255, 251, 0);
        }
        #newbut{
            border: 2px solid rgb(243, 219, 0);
            border-radius: 40px;
            background-color: white;
            color: black;
            font-size: 50px;
            width:70px;
            height:70px;
            cursor: pointer;
            outline: none;
        }
        #newbut:hover{
            color: white;
            background-color: black;
            border-color: black;
        }

        .normal{
            margin: 10px;
            width: 50px;
            height: 50px;
            border: 1px solid black;
            border-radius: 25px;
            background-color: white;
            color: black;
            outline: none;
            font-size: 20px;
        }
        .normal:hover{
            color: white;
            background-color: black;
        }

        .del_list{
            position: absolute;
            right: 40px;
            color: rgb(80, 76, 76);
            margin-top: 10px;
        }
        .del_list:hover,.DLI:hover{
            color: skyblue;
        }
        .DLI{
            position: absolute;
            right: 40px;
            color: rgb(80, 76, 76);
        }
    </style>

</head>
<body>
    <h1 >My To Do List</h1>
    <hr style="width: 300px;color: black;height: 1px;background-color: black;margin-bottom: 5rem;">

    <div id="container">

    {% for key in ToDoList %}
    <div class="MyList" id="{{key}}List">
        <h2 style="display: inline-block;">{{ key }}</h2>
        <i class="fax fa fa-caret-up fa-3x" id="{{key}}" style="cursor: pointer;" onclick="show_rotate()" aria-hidden="true"></i>
        <i class="del_list fa fa-minus-circle fa-2x" aria-hidden="true"  style="cursor: pointer;" onclick="DeleteList()"></i>

        <div style="display: none;font-size: larger;">
            <ul>
                <div class="items">
                {% for items in ToDoList[key] %}
                <li style="margin: 10px;">
                    <span>{{ items }}</span>
                    <i class="DLI fa fa-minus-circle " aria-hidden="true"  style="cursor: pointer;" onclick="DeleteListItem()"></i>
                </li>
                {% endfor %}
                </div>

            </ul>
            <div>
                <input type="text"  name="newitem" required style="display: none;border: none;border-bottom: 1px solid black;outline: none;">

                <button class="normal" type="button"  onclick="AddItem()">+</button>
            </div>
        </div>

    </div>

    {% endfor %}
    </div>

    <button id="newbut"><a href="/api/v1/my-to-do-list/addlist">+</a></button>

    <script>

        var temp = 0;
        function show_rotate()
        {
            var element = document.getElementById(event.target.id);
            if (element.style.transform == "rotate(0deg)")
            {
                
                element.style.transform = "rotate(180deg)";
                element.parentElement.children[3].style.display = "none";

            }
            else
            {
                element.style.transform = "rotate(0deg)";
                element.parentElement.children[3].style.display = "block";
            }
        }

        function AddItem(username)
        {
            var CheckType = event.target.type;
            if (CheckType == "submit")
            {
                var inpt = event.target.parentElement.children[0];
                var data = inpt.value;
                inpt.style.display = "none";
                event.target.type = "button";
                event.target.innerHTML = "+";


                var newli = document.createElement("li");
                var content = document.createElement("span");
                var ib = document.createElement("i");
                ib.className = "DLI fa fa-minus-circle ";
                ib.style.cursor="pointer";
                ib.setAttribute('onclick','DeleteListItem()');
                ib.setAttribute('aria-hidden','true');
                

                newli.appendChild(content);

                newli.style.margin = "10px";


                var htmlelement = event.target.parentElement.parentElement.children[0].children[0];
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    if(this.response != "")
                    {
                    content.innerHTML = this.response;
                    newli.appendChild(content);
                    newli.appendChild(ib);
                    htmlelement.appendChild(newli);

                    }
                    }
                };
                var title = event.target.parentElement.parentElement.parentElement.children[0].innerHTML;
                xhttp.open("POST",  "my-to-do-list"+"/"+title+"/addlistitem", true);
                xhttp.send(JSON.stringify(data));

            }
            else
            {
                var inpt = event.target.parentElement.children[0];
                inpt.style.display = "inline";
                event.target.innerHTML = "Add";
                event.target.type = "submit"
            }
        }

        function DeleteList()
        {
            var DelTitle = event.target.parentElement;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    DelTitle.innerHTML = this.response;
                    DelTitle.style.display = "none";
                }
            };
            var title = event.target.parentElement.children[0].innerHTML;
            xhttp.open("POST","my-to-do-list/"+title + "/dellist",true)
            xhttp.send("")
            
        }

        function DeleteListItem()
        {
            console.log("Yo bro");
            var DelItem = event.target.parentElement;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function(){
                if(this.readyState== 4 && this.status == 200){
                    DelItem.innerHTML = this.response;
                    DelItem.style.display = "none";
                }
            };
            var title = event.target.parentElement.parentElement.parentElement.parentElement.parentElement.children[0].innerHTML;
            var item = event.target.parentElement.children[0].innerHTML;
            xhttp.open("POST","my-to-do-list/"+ title +"/"+ item + "/dellist",true)
            xhttp.send("")
        }

    </script>

</body>
</html>
