<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting History</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: Rubik;
            text-align: center;
        }

        #ACTIVATED{
            width: 10rem;
            height: 4rem;
            text-decoration-line: underline;
        }

        #NOT-ACTIVATED{
            width: 9rem;
            height: 3rem;
            text-decoration-line: none;
        }
        #activated{
            display: block;
        }
        #non-activated{
            display: none;
        }

    </style>

</head>
<body>


    

    <h1 style="margin:3rem">Search For a User meeting history</h1>

    <form method="POST" action="/api/v1/userhistory/">
        <label>Username(unique)</label>
        <br>
        <input type="text" placeholder="username" style="margin: 2rem;width: 9rem;height: 2rem;" name="username" required><br>
        <input style="width: 6rem;height: 2rem;" type="submit">
    </form>

    <hr style="width: 60%;height: 0px;border: 1px solid black;background-color: black;margin-top: 2rem;margin-bottom: 2rem;">


    {% if Meeting_Data['user_registered'] == 1 %}

    <h2 style="margin-bottom: 3rem;">{{Meeting_Data['user']}}'s Meeting History</h2>


    <button style="margin: 2rem;" onclick="toggle()" class="but1" id="ACTIVATED">SENT</button>
    <button style="margin: 2rem;" onclick="toggle()" class="but2" id="NOT-ACTIVATED">RECIEVED</button>

    <div id="activated">
        {% for key,value in Meeting_Data.items() %}
        
        {% if value['sent']|length != 0 %}
        <h2> {{key}} Meetings </h2>
        {% endif %}

        {% for CARDS in value['sent'] %}

        <div style="border: 1px solid black ;margin: 2rem auto;width: 700px;padding-bottom: 1rem;">

            <h3>{{ CARDS['subject'] }}</h3>
            <p>On {{CARDS['date']}}</p>
            <p>Hosted by {{CARDS['host']}}</p>

            <button onclick="ShowMore()" >More <i class="fa fa-chevron-down" id="fa" aria-hidden="true"></i></button>

            <div style="display: none;" >

                <p>Start at {{ CARDS['start-time']}} for {{ CARDS['duration']}}</p>

                <h3>Invitees :-</h3>
                {% for user in CARDS['invitees']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}
                
                <h3>{{ CARDS['attended_y']|length }} Attendies :-</h3>
                {% for user in CARDS['attended_y']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}

                <h3>{{ CARDS['attended_n']|length }} Absent :-</h3>
                {% for user in CARDS['attended_n']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}

                <a style="display: block;margin:1rem" href="fullhistory/{{CARDS['_key']}}"><button>More Details</button></a>

            </div>
        </div>
        {% endfor %}

        {% endfor %}

    </div>


    <div id="non-activated">
        {% for key,value in Meeting_Data.items() %}
        
        {% if value['received']|length != 0 %}
        <h2> {{key}} Meetings </h2>
        {% endif %}

        {% for CARDS in value['received'] %}

        <div style="border: 1px solid black ;margin: 2rem auto;width: 700px;padding-bottom: 1rem;">

            <h3>{{ CARDS['subject'] }}</h3>
            <p>On {{CARDS['date']}}</p>
            <p>Hosted by {{CARDS['host']}}</p>

            <button onclick="ShowMore()" >More <i class="fa fa-chevron-down" id="fa" aria-hidden="true"></i></button>

            <div style="display: none;" >

                <p>Start at {{ CARDS['start-time']}} for {{ CARDS['duration']}}</p>

                <h3>Invitees :-</h3>
                {% for user in CARDS['invitees']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}
                
                <h3>{{ CARDS['attended_y']|length }} Attendies :-</h3>
                {% for user in CARDS['attended_y']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}

                <h3>{{ CARDS['attended_n']|length }} Absent :-</h3>
                {% for user in CARDS['attended_n']  %}
                    <p style="display: inline;margin: 10px;">{{user}}</p>
                {% endfor %}

                <a style="display: block;margin:1rem" href="fullhistory/{{CARDS['_key']}}"><button>More Details</button></a>

            </div>
        </div>
        {% endfor %}

        {% endfor %}

    </div>

    {% else %}
    <h2>No such User with username {{Meeting_Data['user']}}</h2>
    {% endif %}


    <script>
        function ShowMore()
        {
            if(event.target.id == 'fa'){
                item = event.target.parentNode;
            }
            else{
                item = event.target;
            }
            item=item.parentNode.children[4];
            console.log(item)
            if(item.style.display == "block"){
                item.style.display = "none";
            }
            else{
                item.style.display = "block";
            }
        }

        function toggle()
        {
            if(event.target.id == 'NOT-ACTIVATED')
            {
                document.getElementById('ACTIVATED').id = 'temp';
                document.getElementById('NOT-ACTIVATED').id = 'ACTIVATED';
                document.getElementById('temp').id = 'NOT-ACTIVATED';

                document.getElementById('activated').id = 'temp';
                document.getElementById('non-activated').id = 'activated';
                document.getElementById('temp').id = 'non-activated';
            }
        }

    </script>
</body>
</html>