<!DOCTYPE html>
<html>

<head>
    <title> Create Notes </title>
</head>

<body>
    <form action="/api/v1/notes/{{ meeting_key }}" method="GET">
        <button class="button" id="gobutton">{{ buttontext }}</button>
    </form>
</body>
<script>
    mybutton = document.getElementById("gobutton");
    mybutton.style.display = "{{ disp }}";
</script>
</html>
