<!DOCTYPE html>
    <head>
        <title>Select workspace</title>
    </head>
    <script>
        
    </script>
    <body>
        YOUR WORKSPACES : <br/><br/>
        {% for workspace in workspaces %}
            <a href="/api/v1/select_workspace/{{ workspace }}">{{ workspace }}</a>
        {% endfor %}
        <br/>
        <a href="/api/v1/add-organization"><input type="button" value="Create New Organization"/></a>
    </body>
</html>
