<html>
    <head>
        <title>
            User Details
        </title>
    </head>
    <body>
        <h3>Hi, Welcome to Workeeper</h3><br>
        <h3>This is your Account</h3><br>

        <div>
            <h2>Name: {{ user.name }} </h2>
            <h2>Username: {{ user.username }} </h2>
            <h2>Email: {{ user.email }} </h2>
        </div>

        <!-- <div>
            <form method="post" action="/api/v1/logout" id="logout_form">
                <input type="submit" value="Logout">
            </form>
        </div> -->

    </body>
</html>