<html>
    <head>
        <title>
            Submit Passcode
        </title>
    </head>
    <body>
        <h3>Enter the passcode mailed to you</h3>

        <div>
            <form method="post" action="/api/v1/account_recovery/" id="passcode_form" name="passcode_form">
                <label for="passcode_form">Passcode :</label><br>
                <input type="text" name="passcode"><br>
                <button type="submit" value="Submit">Submit</button>
                <input type="text" name="email" value="{{ email }}" hidden>
                <button type="button" onclick="resend()">Resend</button>
            </form>
            <script>
                function resend(){
                    fetch("/api/v1/send_mail_again").catch(console.error);
                }
            </script>
        </div>

    </body>
</html>
