<html>
    <head>
        <title>
            Change Password
        </title>
    </head>
    <body>
        <h3>Enter new password for your account</h3>

        <div>
            <form method="post" action="/api/v1/update_user_password/{{ email }}" id="update_password_form">
                <label for="update_password_form">Enter new password : </label>
                <input type="password" name="password" id="password_1" required><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>