<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id"
    content="832502697558-dr0s5dcsg3j0oj273epsg1rssv4rmh9k.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Google SignIN</title>

    <style>
        body{
            margin: 10rem;
            align-items: center;
        }
    </style>

</head>
<body>

  <!-- <button class="g-signin2" data-onsuccess="onSignIn();" data-theme="dark" style="width: 200px;padding: 0%; height: 50px; margin: 50px;border: none;background-color: inherit;" ></button> -->
  <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

  <script>

      function onSignIn(googleUser)
      {
        var profile = googleUser.getBasicProfile();
        var xhr = new XMLHttpRequest();
        var id_token = googleUser.getAuthResponse().id_token;

        // ################# MODIFIED #################
        //xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.open('POST', '/api/v1/swap_token');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.setRequestHeader('X-Google-OAuth2-Type', 'client');
        console.log(profile)
        // xhr.setRequestHeader('Content-Type', 'application/json');
        // const params = { 'idtoken': id_token }
        xhr.onload = function () {
          const url = "{{ redirect_url }}";
          console.log(url)
          console.log('Signed in as: ' + xhr.responseText);
          window.location.href = "/api/v1/" + url;
        // console.log(xhr.responseText.redirect_url);
        // window.alert(xhr.responseText)
        // window.alert(xhr.responseXML)
        // window.open("http://localhost:8000/api/v1/users/me", '_self');
        };
       
        //console.log(params)
        xhr.send(id_token);       // this is sent at post("/google_signin")
        // window.open(xhr.responseText['redirect_url'], '_self');

        // $.ajax({
        //     url: 'http://localhost:8000/api/v1/logout',
        //     type: 'POST',
        //     contentType: 'application/json',
        //     data: JSON.stringify({ "id_token": id_token }),
        //     dataType: 'json',
        //     // headers: {'Authorization': 'Bearer johndoe'},
        //     success: function(msg) {
        //       $.ajax({
        //           url: 'http://localhost:8000/api/v1/google_signin',
        //           type: 'POST',
        //           headers: {'Authorization': msg},
        //           success: function(html_data) {
        //             $("html").empty();
        //             $("html").append(html_data);
        //         }
        //     });
        //   }
        // });


      }



  </script>

</body>
</html>
