<!DOCTYPE html>
<head>
    <title>
        Authenticate
    </title>
</head>
<script>
    function login() {
        // var profile = googleUser.getBasicProfile();
        var data = new FormData();
        data.append('email', "{{ email }}");
        data.append('otp', document.getElementById('otp').value);

        // var xhr = new XMLHttpRequest();

        // ################# XmlHttpRequest #################
        // xhr.open('POST', 'http://localhost:8000/api/v1/authenticate');
        // xhr.onload = function () {
        //     var url = "{{ redirect }}/"
        //     if (url == "profile/") url+=document.getElementById("username").value;
        //     //console.log('Signed in as: ' + xhr.responseText);
        //     window.location.href = "http://localhost:8000/api/v1/" + url;
        // };
        // xhr.send(data);

        // ################# FetchAPI #################
        fetch("/api/v1/authenticate_otp",
            {method: 'POST',body: data})
            .then(response => {
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    document.getElementById("invalid").text(response.statusText);
                                    document.getElementById("invalid").hidden = false;
                                    throw new Error(response.statusText);
                                }
                            })
            .then(redirect)
            .catch(console.error);
        function redirect() {
            var link = "{{ redirect }}";
            if(link!="None"){
                window.location.href = "/api/v1/"+link;
            }
            else{
                window.location.href = "/api/v1/workspaces";
            }
        };
    }
</script>
<body>
    <form method="post" action="/api/v1/authenticate_otp">
        Enter the OTP : <input type="text" id="otp" placeholder="Enter OTP" required/>
        <input onclick="login()" type="button" value="Submit">
        <label id="invalid" style="color: red;" hidden>INVALID OTP</label>
    </form>
</body>
