<html>
    <script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
    <script>
        const beamsClient = new PusherPushNotifications.Client({
            instanceId: '{{ instanceid }}',
        });
        beamsClient
            .stop()
            .then(window.location.href = "/api/v1/login")
            .catch(console.error);
    </script>
</html>