﻿<!DOCTYPE html>
<html lang="en">

<script src="https://js.pusher.com/beams/1.0/push-notifications-cdn.js"></script>
<script type="text/javascript" src="/notifications.js"></script>
<script>
    beamsClient = initiate_notifications('{{ current_user }}','{{ instanceid }}','{{ organization }}');
</script>
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .button {
            background-color: #008CBA; /* Green */
            border: none;
            color: white;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 2px;
            cursor: pointer;
        }
        a{
            color:white;
            text-decoration:none;
        }
    </style>
</head>
<body>
    <form action="/api/v1/user_meetings" method="POST">
        <input type='text' placeholder="username" name="username" value="{{ csrf_token }}">
        <button> Search </button>
    </form>
    {% if isadmin %}
    <button class="button"><a href="/api/v1/create-project">Create Project</a></button>
    {% endif %}
    <button class="button"><a href="/api/v1/display-projects">Organization Projects</a></button>
    <button class="button"><a href="/api/v1/my_projects">My Projects</a></button>
    <br />
    {% if isadmin %}
    <button class="button"><a href="/api/v1/create_team">Create Team</a></button>
    {% endif %}
    <button class="button"><a href="/api/v1/myteams">My Teams</a></button>
    <br />
    <button class="button"><a href="/api/v1/create_meeting">Create Meeting</a></button>
    <button class="button"><a href="/api/v1/upcoming_meetings">Upcoming Meetings</a></button>
    <br />
    <button class="button"><a href="/api/v1/global_search">Global Search</a></button>
    <br />
    <button class="button"><a href="/api/v1/logout">Logout</a></button>
</body>
</html>
