<html>
<script>
        function onLoad() {
            // ################# FetchAPI #################

            // CORS 'https://stackoverflow.com/questions/43871637/no-access-control-allow-origin-header-is-present-on-the-requested-resource-whe/43881141#43881141'

            var data = new FormData();
            data.append('sub','{{ token }}');
            data.append('email','{{ email }}');
            console.log('{{redirect_url}}');
            var url = "{{redirect_url}}";
            if(url!="/add-microsoft-calendar") {
                fetch("/api/v1/get_auth_token",
                    {method: 'POST', mode: 'cors', body: data})
                    .then(response => response.json())
                    .then(redirect)
                    .catch(console.error);
            }
            else{
                redirect();
            }
            function redirect() {
                if (url == "/add-microsoft-calendar") url+="?token={{ token }}&reftoken={{ reftoken }}";
                window.location.href = "/api/v1" + url;
            };
        }
        onLoad();
</script>
</html>
