<html>
    <head>
        <title>
            Microsoft Login
        </title>
    </head>
    <body>
        <h3>Hi, Welcome to Workeeper</h3><br>
        <h3>Please login to your account using microsoft</h3><br>
        <script>
            // function login() {
                // var profile = googleUser.getBasicProfile();

                // console.log(data);
                // var xhr = new XMLHttpRequest();
                // console.log(xhr);

                // ################# XmlHttpRequest #################
                // xhr.open('POST', 'http://localhost:8000/api/v1/authenticate');
                // console.log(xhr);
                // xhr.onload = function () {
                //     var url = "{{ redirect }}/"
                //     if (url == "profile/") url+=document.getElementById("username").value;
                //     console.log(url);
                //     console.log('Signed in as: ' + xhr.responseText);
                //     window.location.href = "http://localhost:8000/api/v1/" + url;
                // };
                // xhr.send(data);

                // ################# FetchAPI #################

                // CORS 'https://stackoverflow.com/questions/43871637/no-access-control-allow-origin-header-is-present-on-the-requested-resource-whe/43881141#43881141'

                // var resp = window.open('{{ auth_url }}', "Microsoft Auth");
                // console.log(resp);

                // // fetch("{{ proxy_url }}",
                // //     {method: 'POST', mode: 'cors', body: '{{ auth_url }}'})
                // //     .then(response => response.json())
                // //     // .then(redirect)
                // //     .catch(console.error);
                // // console.log(xhr);
                // function redirect() {
                //     var url = "{{ redirect_url }}/"
                //     // if (url == "profile/") url+=document.getElementById("username").value;
                //     // console.log(url);
                //     window.location.href = "http://localhost:8000/api/v1" + url;
                // };
            // }
        </script>
        <div>
            <a href="{{ auth_url }}">LOGIN USING MICROSOFT</a>
        </div>
    </body>
</html>