<html>
    <head>
        <title>
            Verified ?
        </title>
    </head>
    <body>
        <script>
            setTimeout(function() {
                window.location.href = '/api/v1/change_password/{{ email }}';
            }, 3000);
        </script>

        <div>
            <h3>Account verification {{ result }} </h3><br>
            <h4>Page will be redirected automatically......</h4>
        </div>
    </body>
</html>
