<!DOCTYPE html>
<html>

<head>
    <title> Create Meetings </title>
</head>

<body>
    <form action="/api/v1/create_meeting" method="POST">
        <input type="text" placeholder="hostname" name="hostname" value="{{ csrf_token }}"><br><br>
        <!--<input type="text" placeholder="date" name="date" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="month" name="month" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="year" name="year" value="{{ csrf_token }}"><br><br>-->
        <input type="date" placeholder="date" name="date" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="meeting subject" name="meeting_subject" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="invitees" name="invitees" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="Agenda" name="agenda" value="{{ csrf_token }}"><br><br>
        <input type="time" placeholder="start time" name="start_time" value="{{ csrf_token }}"><br><br>
        <input type="time" placeholder="end time" name="end_time" value="{{ csrf_token }}"><br><br>
        <input type="text" placeholder="link" name="link" value="{{ csrf_token }}"><br><br>
        <button class="button">Submit</button>
    </form>
</body>

</html>
