<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Krub&family=Rubik&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: Rubik;
            text-align: center;
        }
        input{
            width: 200px;
            height: 30px;
            text-align: left;
        }
        tr,td{
            text-align: left;
            margin: 2rem;
            padding: 1rem;
        }
    </style>

</head>
<body>
    <div style="margin: 8rem;">

        {% if name %}
        <h1>Thankyou, {{name}}</h1>
        <h2>We will get back to you soon.</h2>
        <h2>Want to convey something more?</h2>
        <h1 style="margin-top:3rem;">Contact Us</h1>

        {% else %}
        <p style="text-transform:uppercase; font-size: medium;">Couldn't find what you were looking for?</p>
        <h1 style="margin-top:3rem;">Contact Us</h1>
        <p style="margin-bottom: 0;font-size: larger;">We are only a call away. If not , send us a quick email</p>
        <p style="margin-top: 0;font-size: larger;">and we'll get back to you as soon as we can.</p>
        {% endif %}
        <form method="POST" action="/contact-us" style="margin:2rem auto;">

            <table style="margin: auto;margin-top: 3rem ;margin-bottom: 3rem;">

            <tr>
                <td>
                    <label>First Name</label>
                </td>
                <td>:</td>
                <td>
                    <input type="text"  name="FirstName" required>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Last Name</label>
                </td>
                <td>:</td>
                <td>
                    <input type="text"  name="LastName" required>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Email Address</label>
                </td>
                <td>:</td>
                <td>
                    <input type="email" name="Email"  required>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Message</label>
                </td>
                <td>:</td>
                <td>
                    <textarea name="Message" style="resize: vertical;width: 300px;height: 100px;text-align: left;"></textarea>
                </td>
            </tr>

            </table>

            <input type="submit" style="width: 130px;height: 40px;text-align: center;">
        </form>
    </div>
</body>
</html>